extends /views/base.pug

block prepend title
	- title = 'Polls'

block contents
	.row
		.col-md-12
			+page_header('Polls')

			ul
				each poll in polls
					li
						a(href='/tools/polls/' + poll.slug)= poll.title
						|
						|
						if poll.active
							span.label.label-success Active
						else if poll.closed
							span.label.label-danger Closed
						else if poll.expires
							span.label.label-warning Expired
						else if poll.starts
							span.label.label-info Scheduled

	.row
		.col-md-8
			h4 Create a new poll
			include partials/poll-form
