extends /views/base.pug

block prepend title
	- title = 'Polls'

block contents
	.row
		.col-md-12
			+page_header('Polls')

			table.table.table-striped
				thead
					tr
						th Status
						th Title
						th Created
						th Responses
				tbody
					each poll in polls
						tr
							td
								if poll.active
									span.label.label-success Active
								else if poll.closed
									span.label.label-danger Closed
								else if poll.expires
									span.label.label-warning Expired
								else if poll.starts
									span.label.label-info Scheduled
							td(width='100%'): a(href='/tools/polls/' + poll.slug)= poll.title
							td= moment(poll.date).format('DD/MM/YYYY')
							td= poll.responseCount

	.row
		.col-md-8
			h4 Start a new poll
			include partials/poll-form
