extends /views/base.pug

block prepend title
	- title = 'Callouts'

block contents
	.row
		.col-md-12
			+page_header('Callouts')

			table.table.table-striped
				thead
					tr
						th Status
						th Title
						th Created
						th Responses
				tbody
					each poll in polls
						tr
							td: +itemStatus(poll)
							td(width='100%')
								a(href='/tools/polls/' + poll.slug)= poll.title
								include partials/poll-tags
							td= moment(poll.date).format('DD/MM/YYYY')
							td= poll.responseCount
