extends /views/base.pug

block prepend title
	- title = poll.title

block append css
	link(rel='stylesheet' href='/static/css/lib/formio.full.min.css')

block append js
	script(src='/static/js/lib/formio.full.min.js')
	script.
		var responses = !{JSON.stringify(responses)};

		Formio.createForm(
			document.getElementById('form'), !{JSON.stringify(poll.formSchema)},
			{template: 'bootstrap3', readOnly: true}
		).then(function (form) {
			var currentResponseNo = 0;

			function setResponse(responseNo) {
				var response = responses[responseNo];
				if (!response) return;

				form.submission = {data: response.answers};
				$('.js-response-i').text(responseNo + 1);
				$('.js-response-no').val(responseNo + 1);
				$('.js-response-date').text(response.updatedAtText);
				$('.js-response-user-type').text(response.member ? 'Member' : 'Guest')
				if (response.member) {
					$('.js-response-user')
						.html(
							'<a href="/members/' + response.member.id + '">' +
								response.member.firstname + ' ' + response.member.lastname +
							'</a>');
				} else {
					$('.js-response-user')
						.text(response.guestName + ' (' + response.guestEmail + ')');
				}

				currentResponseNo = responseNo;
			}

			function changeResponse(inc) {
				currentResponseNo = Math.min(responses.length - 1, Math.max(0, currentResponseNo + inc));
				setResponse(currentResponseNo);
			}

			setResponse(0);
			$('.js-step-response').click(function () {
				changeResponse(Number(this.value));
			});
			$('.js-set-response').on('click input', function () {
				setResponse(Number(this.value) - 1);
			});
		});

block contents
	.row
		.col-md-12
			+page_header(poll.title)

	.row
		.col-md-offset-2.col-md-8
			p There are #{responses.length} responses

			form(method='POST' action='/tools/polls/' + poll.slug)
				+csrf
				p: button(name='action' value='export-responses').btn.btn-warning Export

			.input-group
				.input-group-btn
					button(value=1).btn.btn-default.js-set-response
						i.glyphicon.glyphicon-fast-backward
					button(value=-1).btn.btn-default.js-step-response
						i.glyphicon.glyphicon-step-backward
					button(value=1).btn.btn-default.js-step-response
						i.glyphicon.glyphicon-step-forward
					button(value=responses.length).btn.btn-default.js-set-response
						i.glyphicon.glyphicon-fast-forward
				input(type='number' value=1 style='width:90px').form-control.js-set-response.js-response-no

			hr

			h4 Response #[span.js-response-i]

			dl.dl-horizontal
				dt.js-response-user-type
				dd.js-response-user
				dt Date
				dd.js-response-date

			#form
