extends /views/base.pug

block prepend title
	- title = poll.title

block append css
	link(rel='stylesheet' href='/static/css/lib/formio.full.min.css')
	style.
		.poll-response {
			break-before: page;
		}

block append js
	script(src='/static/js/lib/formio.full.min.js')
	script(type='text/template').js-response-template
		div.poll-response
			hr

			h4 Response {no}

			dl.dl-horizontal
				dt {type}
				dd {user}
				dt Date
				dd {date}
			
			div.js-response-form

	script.
		var formResponses = !{JSON.stringify(responses)};
		var formSchema = !{JSON.stringify(poll.formSchema)};
	script(src='/static/js/poll-responses.js?v=' + git)

block contents
	.row
		.col-md-12
			+page_header(poll.title)

	.row
		.col-md-offset-2.col-md-8
			p There are #{responses.length} responses

			form(method='POST' action='/tools/polls/' + poll.slug)
				+csrf
				p: button(name='action' value='export-responses').btn.btn-warning Export

			.js-reveal
				.checkbox
					label
						input(type='checkbox' name='showAll').js-show-all-responses.js-reveal-types
						| Show all responses

				.input-group.responses.js-reveal-type(data-type="showAll" data-inverse)
					.input-group-btn
						button(value=1).btn.btn-default.js-set-response
							i.glyphicon.glyphicon-fast-backward
						button(value=-1).btn.btn-default.js-step-response
							i.glyphicon.glyphicon-step-backward
						button(value=1).btn.btn-default.js-step-response
							i.glyphicon.glyphicon-step-forward
						button(value=responses.length).btn.btn-default.js-set-response
							i.glyphicon.glyphicon-fast-forward
					input(type='number' value=1 style='width:90px').form-control.js-set-response.js-response-no

				.js-response-container

			#form.hidden
