extends /views/base.pug

block prepend title
	- title = poll.title

block append css
	if poll.template === 'builder'
		link(rel='stylesheet' href='https://unpkg.com/formiojs@latest/dist/formio.full.min.css')

block append js
	if poll.template === 'builder'
		script(src='https://unpkg.com/formiojs@latest/dist/formio.full.min.js')
		script.
			var responses = !{JSON.stringify(responses)};

			Formio.createForm(
				document.getElementById('form'), !{JSON.stringify(poll.templateSchema.formSchema)},
				{template: 'bootstrap3', readOnly: true}
			).then(function (form) {
				var responseNo = 0;
				function changeResponse(inc) {
					responseNo = Math.min(responses.length - 1, Math.max(0, responseNo + inc));
					var response = responses[responseNo];
					form.submission = {data: response.answers};
					$('.js-response-i').text(responseNo + 1);
					$('.js-response-user-type').text(response.member ? 'Member' : 'Guest')
					if (response.member) {
						$('.js-response-user')
							.html(
								'<a href="/members/' + response.member.uuid + '">' +
									response.member.firstname + ' ' + response.member.lastname +
								'</a>');
					} else {
						$('.js-response-user')
							.text(response.guestName + ' (' + response.guestEmail + ')');
					}
				}

				changeResponse(0);
				$('.js-prev-response').click(changeResponse.bind(null, -1));
				$('.js-next-response').click(changeResponse.bind(null, 1));
			});

block contents
	.row
		.col-md-12
			+page_header(poll.title)

	.row
		.col-md-offset-2.col-md-8
			p There are #{responses.length} responses

			if poll.template === 'builder'
				p
					button.btn.btn-primary.js-prev-response Prev
					|
					|
					button.btn.btn-primary.js-next-response Next

				hr

				h4 Response #[span.js-response-i]

				dl.dl-horizontal
					dt.js-response-user-type
					dd.js-response-user

				#form
			else
				.alert.alert-warning Poll response breakdown not supported for this poll
