extends /views/notrack.pug

block prepend title
	- title = 'Two Factor Authentication'
	- page = '2fa'

block contents
	.row
		.col-md-3
			include partials/sidebar.pug
		.col-md-9
			+page_header( title )
			form( method="post" ).form-horizontal
				+csrf
