extends /src/views/base.pug

block prepend title
	- title = app.title

mixin pollPanel(poll)
	.col-md-4
		.panel.panel-default
			.panel-body
				h5= poll.question
				.pull-right: a(href='/polls/' + poll.slug).btn.btn-default View
				if poll.answer
					p.text-success
						span.glyphicon.glyphicon-ok
						|
						|
						| Answered

block contents
	.row
		.col-md-12
			+page_header( title )

			h4 Active

	.row
		each poll in polls
			if poll.active
				+pollPanel(poll)

	.row
		.col-md-12
			h4 Archive

	.row
		each poll in polls
			if !poll.active
				+pollPanel(poll)
