extends /views/base.pug

block prepend title
	- title = app.title

mixin pollPanel(poll)
	.col-md-4
		.panel.panel-default
			.panel-body
				p= poll.title
				.pull-right
					a(href='/polls/' + poll.slug).btn.btn-default= poll.active && !poll.response ? 'Respond' : 'View'
				if poll.response
					p.text-success
						span.glyphicon.glyphicon-ok
						|
						|
						| Answered

block contents
	.row
		.col-md-12
			+page_header( title )

			h4 Active

	.row.polls-list
		if activePolls.length > 0
			each poll in activePolls
				+pollPanel(poll)
		else
			.col-md-9
				p No active callouts at the moment, check back soon.

	hr

	.row
		.col-md-12
			h4 Archive

	.row.polls-list
		each poll in inactivePolls
			+pollPanel(poll)
		else
			.col-md-9
				p No callouts yet
