extends /views/base.pug

block prepend title
	- title = app.title

mixin pollPanel(poll)
	.col-md-4
		.panel.panel-default
			.panel-body
				h5= poll.question
				.pull-right: a(href='/polls/' + poll.slug).btn.btn-default View
				if poll.response
					p.text-success
						span.glyphicon.glyphicon-ok
						|
						|
						| Answered

block contents
	.row
		.col-md-12
			+page_header( title )


	.row
		.col-md-9
			.alert.alert-info.
				We know this page looks a bit rough at the moment, updates coming soon!

	hr

	.row
		.col-md-12

			h4 Active

	.row
		if activePolls.length > 0
			each poll in activePolls
				+pollPanel(poll)
		else
			.col-md-9
				p No active callouts at the moment, check back soon.

	hr

	.row
		.col-md-12
			h4 Archive

	.row
		each poll in inactivePolls
			+pollPanel(poll)
		else
			.col-md-9
				p No callouts yet
