extends /views/base.pug

block contents
	if !isEmbed
		.row
			.col-md-12
				+page_header(poll.title)

	.row
		.col-md-offset-2.col-md-8
			if !isEmbed
				!= poll.intro
				hr#vote

			if poll.active
				.row.text-center
					.col-sm-7
						p Not a member?
						p: a(href='/join' target="_top").btn.btn-block.btn-lg.btn-primary Join now
					.col-sm-5
						p Already a member?
						p: a(
							href='/login?next=' + encodeURIComponent('/polls/' + poll.slug)
							target="_top"
						).btn.btn-block.btn-lg.btn-default Login

			else
				.alert.alert-warning Callout is closed
