extends /views/base.pug

block prepend title
	- title = poll.title

block append css
	link(rel='stylesheet' href='/static/css/lib/formio.full.min.css')

block append js
	script(src='/static/js/lib/formio.full.min.js')
	script.
		var formEl = document.getElementById('form');
		Formio.createForm(
			document.getElementById('formdata'),
			!{JSON.stringify(poll.templateSchema.formSchema)},
			{
				template: 'bootstrap3',
				noAlerts: true,
				hooks: {
					beforeSubmit: function (submission, next) {
						if (formEl.checkValidity()) {
							next();
						} else {
							if (formEl.reportValidity) {
								formEl.reportValidity();
							}
							next({message: 'Form fields missing'});
						}
					}
				}
			}
		).then(function (form) {
			form.submission = {data: !{JSON.stringify(answers)}};
			form.on('submit', function (submission) {
				formEl.elements.answers.value = JSON.stringify(submission.data);
				formEl.submit();
			});
		});

block flashes

block contents
	if !isEmbed
		.row
			.col-md-12
				+page_header(poll.title)

	.row
		.col-md-offset-2.col-md-8
			if answers.submit
				img(src='/static/imgs/polls/hand3.png').poll-hand3

				h4#thanks= poll.templateSchema.thanksTitle
				!= dot.template(poll.templateSchema.thanksText)({answers})
				hr

			!= poll.templateSchema.intro

			hr#vote

			if poll.active || preview
				if poll.allowUpdate || !answers.submit
					noscript
						.alert.alert-warning.
							Unfortunately you currently need JavaScript enabled
							to participate in callouts. Please contact us on
							#[+emailSupport] if you've been affected.

					include /views/partials/flash.pug

					form(method='POST')#form
						+csrf
						input(type='hidden' name='answers')

						if !isLoggedIn && !code
							.alert.alert-info
								| Are you Cable member?
								|
								a(href='/login?next=' + encodeURIComponent('/polls/' + poll.slug) target='_top'): b Login here
							.well
								.form-group
									label(for='#guestName').control-label Your name
									input(type='text' name='guestName' required)#guestName.form-control
								.form-group
									label(for='#guestEmail').control-label Your email address
									input(type='email' name='guestEmail' required)#guestEmail.form-control

					#formdata
				else
					.alert.alert-info You have already answered this callout
			else
				.alert.alert-warning Callout is closed
