extends /views/base.pug

block contents
	.row
		.col-md-12
			+page_header(poll.title)

	.row
		.col-md-offset-2.col-md-8
			img(src='/static/imgs/polls/hand3.png').poll-hand3

			h4#thanks= poll.templateSchema.thanksTitle
			!= dot.template(poll.templateSchema.thanksText)({answers})

			hr

			!= poll.templateSchema.intro
