PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin
# min hour day month weekday command
0 1 * * * su node -c 'node /opt/membership-system/built/tools/mailchimp/sync.js'
0 1 * * * su node -c 'node /opt/membership-system/built/tools/start-gifts.js'
* * * * * su node -c 'node -e "console.log(1+1)"'
