version: "3.4"

x-base-app: &base-app
  build:
    context: .
    target: app
  volumes:
    - ./built:/opt/membership-system/built
    - ./src/migrations:/opt/membership-system/src/migrations
  env_file:
    - .env
  environment:
    NODE_ENV: development
    TYPEORM_MIGRATIONS_DIR: src/migrations/

services:
  db:
    image: postgres:13.9
    volumes:
      - db_data:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: membership_system
      POSTGRES_PASSWORD: membership_system
      POSTGRES_DB: membership_system
    ports:
      - 6543:5432 # To connect to the database from the host machine

  mail:
    image: mailhog/mailhog:latest
    ports:
      - ${MAIL_PORT}:8025

  app: *base-app

  api_app:
    <<: *base-app
    command: node 'built/api/app'

  webhook_app:
    <<: *base-app
    command: "node built/webhooks/app"

  img_upload_app:
    image: beabee/pictshare:v0.1.1
    environment:
      URL: ${BEABEE_AUDIENCE}/uploads/
      CONTENTCONTROLLERS: IMAGE,TEXT
    init: true
    volumes:
      - upload_data:/var/www/data

  cron:
    <<: *base-app
    user: root
    command: "crond -f -d 7"
    init: true

  router:
    build:
      context: .
      target: router
    volumes:
      - ./built/static:/opt/membership-system/built/static:ro
    ports:
      - ${MAIN_PORT}:80

volumes:
  db_data:
  upload_data:
