extends /views/base.pug

block prepend title
	- title = "Something went wrong"

block contents
	+page_header( 'Something went wrong' )

	.row
		.col-md-6
			p.
				We encountered an error when processing your membership, a
				notification has been sent to our team and we will be in touch.
				No payments have been taken. Please contact #[+emailSupport]
				for more information.
