extends /views/base.pug

block prepend title
	- title = "Problem starting your membership"

block contents
	+page_header( 'There was a problem starting your membership' )

	.row
		.col-md-6
			.alert.alert-warning.
				A contribution has not been set up, you will not be charged.

			p.
				This is most likely a problem with our system. We've been notified and
				will be in touch to help complete the setup of your membership.

			p.
				You can also contact us at #[+email('membership@thebristolcable.org')].
