extends /views/base.pug

block prepend title
	- title = "Expired membership"

block contents
	+page_header( 'Expired membership' )

	.row
		.col-md-6
			p.
				Unfortunately we couldn't automatically restart your
				membership, this is probably because you have a payment which
				is currently processing. Please contact #[+emailSupport] for support
