.repeater {
	list-style: none;
	margin: 0;
	padding: 0;
	counter-reset: repeater;

	& > li {
		position: relative;
		border: 1px solid #dcdcdc;
		padding: 2rem;
		counter-increment: repeater;
		margin-bottom: 1rem;

		&::before {
			content: "Item " counter(repeater);
			position: absolute;
			top: -0.75rem;
			left: 1rem;
			background-color: white;
			font-size: 1.5rem;
			padding: 0 0.5rem;
		}
	}
}
