extends /src/views/splash.pug

block prepend title
	- title = 'Link is invalid'

block login

block splash-contents
	h3 Link is invalid
	p.
		This link is no longer valid, this is possibly because it has expired for
		security reasons.

	p Contact #[+email('membership.thebristolcable.org')] for support.
