extends /src/views/base.pug

block prepend title
	- title = 'Special URLs'

mixin action
	.js-reveal
		.form-group
			label.col-md-3.control-label Type
			.col-md-9
				select(name='actions[0][name]' required).form-control.js-reveal-types
					option(value='' selected disabled) Select one
					each action in actionsWithParams
						option= action.name

		each action in actionsWithParams
			.hidden.js-reveal-type(data-type=action.name)
				+paramsInputs(action.params, 'actions[0][params]')

	p.special-urls-remove-action.js-su-remove-action
		button(type='button').btn.btn-sm.btn-danger.outline Remove

block append js
	script(type='text/template').js-su-action-template
		+action
	script(src='/static/js/reveal.js?v=' + git)
	script(src='/static/js/special-urls.js?v=' + git)

block contents
	.row
		.col-md-12
			+page_header('Special URLs')

			each specialUrlsParent in specialUrlsParents
				h4
					a(href='/tools/special-urls/' + specialUrlsParent._id)= specialUrlsParent.name

	.row
		.col-md-8
			h3 Create special URLs

			form(method='POST').form-horizontal
				+csrf
				.form-group
					label(for='name').control-label.col-md-3 Name
					.col-md-6
						input(type='text' name='name' required)#name.form-control
				.form-group
					label(for='expiresDate').control-label.col-md-3 Expires (UTC)
					.col-md-3
						input(type='date' name='expiresDate')#expires.form-control
					.col-md-3
						input(type='time' name='expiresTime').form-control
				.form-group
					label(for='expiresDate').control-label.col-md-3 URL duration
					.col-md-6
						.input-group
							input(type='number' name='linkDuration').form-control
							span.input-group-addon hours
				
				h4 Actions

				ul.special-urls-actions.js-su-actions
					li: +action
					
				p.text-right: button(type='button').btn.btn-sm.js-su-add-action Add action

				.form-group
					.col-md-6
						button.btn.btn-primary Create

