extends /src/views/splash.pug

block prepend title
	- title = 'Expired link'

block splash-contents
	h3 We've sent you a new link

	p.
		For security reasons this link was only valid for a short time,
		please check your inbox for a new link to proceed.

	p.
		If you need any help please contact #[+email('membership.thebristolcable.org')].
