extends /views/splash.pug

block login

block splash-contents
	form(method='POST').text-center
		+csrf
		h3= specialUrl.group.name
		p Hi #{specialUrl.firstname}, please confirm you are happy to continue.
		button.btn.join-btn Confirm
