extends /views/base.pug

block prepend title
	- title = 'Referrals'

block contents
	.row
		.col-md-12
			+page_header('Referrals')

	.row
		.col-md-8
			h4 Gifts

			ul
				each gift in gifts
					li: a(href='/tools/referrals/gifts/' + gift.name)= gift.label
