extends /views/base.pug

block prepend title
	- title = 'Referrals'

block contents
	.row
		.col-md-12
			+page_header('Referrals')

			h4 Gifts

			table.table
				thead
					tr
						th Label
						th Min amount
						th Status
				tbody
					each gift in gifts
						tr
							td(width="100%"): a(href='/tools/referrals/gifts/' + gift.name)= gift.label
							td #{currencySymbol}#{gift.minAmount}
							td
								if gift.enabled
									.span.label.label-success Enabled
								else
									.span.label.label-danger Disabled
