extends /views/base.pug

block prepend title
	- title = 'Email'

block contents
	.row
		.col-md-12
			+page_header(email.name)

	.row
		.col-md-8
			h4 Update email
			include partials/email-form

	.row
		.col-md-8
			hr
			h4 Mailings

			p.
				You can see all the times you have sent this email here.

			table.table
				thead
					tr
						th Recipients
						th Created
						th Last sent
				tbody
					if mailings.length
						each mailing in mailings
							tr
								td: a(href='/tools/emails/' + email.id + '/mailings/' + mailing.id)
									= mailing.recipients.length
									|
									| recipients
								td= moment(mailing.createdDate).format('DD/MM/YYYY')
								td
									if mailing.lastSent
										= moment(mailing.sentDate).format('DD/MM/YYYY')
									else
										| &mdash;
					else
						tr
							td(colspan=3) No mailings yet

			h5 Start new mailing

			p.
				To start a new mailing upload a CSV file with a list of people to
				email. You need to include at least a name and email address field.
				You'll be asked to match the columns to the merge tags in the next step.

			form(action='/tools/emails/' + email.id + '/mailings?_csrf=' + csrf method='POST' enctype='multipart/form-data').form-horizontal
				.form-group
					label(for='file').control-label.col-md-3 Recipient list
					.col-md-6
						input(type='file', name='file')#file.form-control

				.form-group
					.col-md-offset-3.col-md-6
						button.btn.btn-primary Preview

	.row
		.col-md-8
			hr
			h4 Delete email

			p.
				This will delete the email and all associated mailings

			form(method='POST')
				+csrf
				p
					label.checkbox-inline
						input(type='checkbox' required)
						| This change is irreversible, confirm to proceed
				button(name='action' value='delete').btn.btn-danger.outline Delete
