extends /views/base.pug

block prepend title
	- title = 'Email'

block prepend js
	script(src='/static/js/lib/quill.min.js')
	script(type='text/template').js-repeater-template
		li.js-repeater-item
			.form-group
				.col-md-6
					select(name='systemEmails[0]').form-control
						option(value='' selected disabled)
						each name, id in assignableSystemEmails
							option(value=id)= name
				.col-md-3
					button(type='button').btn.btn-danger.js-repeater-remove-item
							i.glyphicon.glyphicon-trash

block append css
	link(rel='stylesheet' href='/static/css/lib/quill.snow.css')

block contents
	.row
		.col-md-12
			+page_header(email.name)

	.row
		.col-md-8
			h4 Update email

			include partials/email-form

			hr

			h4 Ongoing mailings

			if segmentEmails.length > 0
				h5 Segments
				p
					| This email is automatically sent by an ongoing trigger in the following segments:
					br
					each segmentEmail, i in segmentEmails
						a(href='/members/segments/' + segmentEmail.segment.id)= segmentEmail.segment.name
						br

			h5 System events
			p You can set the email to automatically send on certain events here.

			form(method='POST').form-horizontal
				+csrf
				ul(data-name="systemEmails").no-list.js-repeater
					each systemEmail, i in systemEmails
						li.js-repeater-item
							.form-group
								.col-md-6
									select(name='systemEmails[' + i + ']').form-control
										option(value='' selected disabled)
										each name, id in assignableSystemEmails
											option(value=id selected=systemEmail === id)= name
								.col-md-3
									button(type='button').btn.btn-danger.js-repeater-remove-item
										i.glyphicon.glyphicon-trash
				
				p: button(type='button').btn.btn-xs.btn-info.js-repeater-add-item Add event
				p: button(name='action' value='update-system-emails').btn.btn-success Save

			hr

			h4 One-off mailings

			p.
				You can see all the times you have manually sent the email here.

			table.table
				thead
					tr
						th Recipients
						th Created
						th Last sent
				tbody
					if mailings.length
						each mailing in mailings
							tr
								td: a(href='/tools/emails/' + email.id + '/mailings/' + mailing.id)
									= mailing.recipients.length
									|
									| recipients
								td= moment(mailing.createdDate).format('DD/MM/YYYY')
								td
									if mailing.lastSent
										= moment(mailing.sentDate).format('DD/MM/YYYY')
									else
										| &mdash;
					else
						tr
							td(colspan=3) No mailings yet

			h5 Start new mailing

			p.
				To start a new mailing upload a CSV file with a list of people to
				email. You need to include at least a name and email address field.
				You'll be asked to match the columns to the merge tags in the next step.

			form(action='/tools/emails/' + email.id + '/mailings?_csrf=' + csrf method='POST' enctype='multipart/form-data').form-horizontal
				.form-group
					label(for='file').control-label.col-md-3 Recipient list
					.col-md-6
						input(type='file', name='file')#file.form-control

				.form-group
					.col-md-offset-3.col-md-6
						button.btn.btn-primary Preview

	.row
		.col-md-8
			hr
			h4 Delete email

			p.
				This will delete the email and all associated mailings

			if systemEmails.length > 0 || segmentEmails.length > 0
				.alert.alert-warning.
					This email has system or segment triggers, you must remove or reassign
					them before you can delete the email
			else
				form(method='POST')
					+csrf
					p
						label.checkbox-inline
							input(type='checkbox' required)
							| This change is irreversible, confirm to proceed
					button(name='action' value='delete').btn.btn-danger.outline Delete
