extends /views/base.pug

block prepend title
	- title = 'Email'

block contents
	.row
		.col-md-12
			+page_header('Emails')
			p Send emails to users

	each email in emails
		.row
			.col-md-12
				p
					a(href='/tools/emails/' + email.id)= email.name
					| , created #{moment(email.date).format('DD/MM/YYYY [at] HH:mm')}
	.row
		.col-md-8
			hr
			h4 Create email

			include partials/email-form
