extends /views/base.pug

block prepend title
	- title = 'Email'

block contents
	.row
		.col-md-12
			+page_header('Emails')

			table.table.table-striped
				thead
					tr
						th Name
						th Created
				tbody
					each email in emails
						tr
							td(width='100%'): a(href='/tools/emails/' + email.id)= email.name
							td= moment(email.date).format('DD/MM/YYYY')
	.row
		.col-md-8
			hr
			h4 Create email

			include partials/email-form
