extends /views/base.pug

block prepend title
	- title = 'Email'

block prepend js
	script(src='/static/js/lib/quill.min.js')
	script(src='/static/js/lib/quill-paste-smart.js')

block append css
	link(rel='stylesheet' href='/static/css/lib/quill.snow.css')

block contents
	.row
		.col-md-12
			+page_header('Emails')

			table.table.table-striped
				thead
					tr
						th Name
						th Manual mailings
						th Ongoing mailings
						th Created
				tbody
					each email in emails
						tr
							td(width='100%')
								a(href='/tools/emails/' + email.id)= email.name
							td= email.mailingCount
							td(style='white-space: nowrap')
								if email.isSystem
									|
									|
									span.label.label-info System
								if email.isSegment
									|
									|
									span.label.label-primary Segment
							td= moment(email.date).format('DD/MM/YYYY')
	.row
		.col-md-8
			hr
			h4 Create email

			include partials/email-form
