- isNew = email === undefined
- email = email || {}

form(method='POST').form-horizontal
	+csrf
	.form-group
		label(for='name').control-label.col-md-3 Name
		.col-md-6
			input(type='text', name='name' required value=email.name)#name.form-control
	.form-group
		label(for='fromEmail').control-label.col-md-3 From email
		.col-md-6
			input(type='text' name='fromEmail' required value=email.fromEmail || 'membership@thebristolcable.org')#fromEmail.form-control
	.form-group
		label(for='fromName').control-label.col-md-3 From name
		.col-md-6
			input(type='text' name='fromName' required value=email.fromName || 'Bristol Cable Membership')#fromName.form-control
	.form-group
		label(for='subject').control-label.col-md-3 Subject
		.col-md-6
			input(type='text' name='subject' required value=email.subject)#subject.form-control
	.form-group
		label(for='body').control-label.col-md-3 Body
		.col-md-9
			textarea(name='body' required rows="10")#body.form-control= email.body

	.form-group
		.col-md-offset-3.col-md-9
			button(name='action' value='update').btn.btn-success= isNew ? 'Create' : 'Update'
