mixin membersTable
	.members-table
		each member in members
			.members-table-row
				a(href='/members/' + member.uuid).members-table-row-link
				if addToProject
					label.members-table-action
						input(type='checkbox' name='members[]' value=member._id)
				+membersTableBasicInfo(member)

if addToProject
	form(method='POST' action='/projects/' + addToProject._id)
		+csrf
		p Select the members to add to #[b= addToProject.title]
		p
			button(name='action' value='add-members').btn.btn-sm.btn-warning
				span.glyphicon.glyphicon-plus
				|
				|
				| Add

		+membersTable
else
	+membersTable
