.row
	.col-md-12
		.table-responsive
			table.table.table-striped.table-condensed.table-hover
				thead
					tr
						th Name
						th(width="60%") Description
						th Last contact
				tbody
					each member, m in members
						tr( data-href="/members/" + member.uuid, style="cursor: pointer;" )
							td= member.firstname + ' ' + member.lastname
							td= member.description
							td Last contact?
