.row
	.col-md-12
		.table-responsive
			table.table.table-striped.table-hover.member-table
				tbody
					each member in members
						tr(data-href='/members/' + member.uuid)
							td
								span(
									style='color: ' + (member.isActiveMember ?
										(member.hasActiveSubscription ? 'green' : 'orange') : 'red')
									title=member.isActiveMember ?
										(member.hasActiveSubscription ? 'Active' : 'Cancelled') : 'Expired'
								).glyphicon.glyphicon-user
							td(style='white-space: nowrap')= member.firstname + ' ' + member.lastname
							td(width="100%")
								= member.description
								each tag in member.tags
									|
									|
									.label.label-info= tag.name
