extends /views/notrack.pug

block prepend title
	- title = app.title

block contents
	.row
		.col-md-9
			+page_header( 'Add member' )
			form(method='POST').form-horizontal.js-reveal
				+csrf
				.form-group
					+input( 'text', 'First name', 'firstname', { required: true, left: 3, right: 5 } )
					+input( 'text', 'Last name', 'lastname', { required: true, left: 3, right: 5 } )
					+input( 'text', 'Email address', 'email', { required: true, left: 3, right: 5 } )

					label.col-md-3.control-label Contribution type
					.col-md-5
						select(name='type' required).js-reveal-types.form-control
							option(value='' disabled selected) Select one
							option None
							option GoCardless
							option Manual

				.js-reveal-type(data-type='GoCardless')
					+input( 'text', 'Customer ID', 'customerId', { required: true, left: 3, right: 5 } )
					+input( 'text', 'Mandate ID', 'mandateId', { required: true, left: 3, right: 5 } )
				
				.js-reveal-type(data-type='Manual')
					+input('text', 'Source', 'source', {left: 3, right: 5})
					+input('text', 'Reference', 'reference', {left: 3, right: 5})

				+form_button( 'Create', 'success', {left: 3} )
				
