extends /views/notrack.pug

block prepend title
	- title = app.title

block contents
	.row
		.col-md-12
			+page_header( 'Add contact' )

		.col-md-9
			form(method='POST').form-horizontal
				+csrf
				+input( 'text', 'First name', 'firstname', { left: 3, right: 6 } )
				+input( 'text', 'Last name', 'lastname', { left: 3, right: 6 } )
				+input( 'text', 'Email address', 'email', { required: true, left: 3, right: 6 } )

				+input( 'checkbox', 'Subscribe to newsletter', 'addToNewsletter', {
					left: 3, right: 4,
					options: {'true': 'Yes'},
					value: true
				})

				.row: .col-md-offset-3.col-md-9: h5 Roles

				ul(data-name='permissions').no-list.js-repeater

				.row: .col-md-offset-3.col-md-9
					p: button(type='button').btn.btn-xs.btn-info.js-repeater-add-item Add role

				.row: .col-md-offset-3.col-md-9: h5 Contribution

				- hideSubscriptionId = true
				include /apps/members/apps/member/apps/contribution/views/partials/fields

				.form-group
					.col-md-offset-3.col-md-9
						button.btn.btn-success Save
						|
						|
						button(name='addAnother' value='true').btn.btn-default Save and add another contact

block prepend js
	script(type='text/template').js-repeater-template
		li(style='padding: 15px 0 0 0').js-repeater-item.well
			.form-group
				label.col-md-3.control-label Role
				.col-md-6
					select(name='permissions[0][permission]' required).form-control
						option( disabled selected ) –
						option(value='member') Member
						option(value='admin') Admin
						option(value='superadmin') Superadmin
			.form-group
				label.col-md-3.control-label Start
				.col-md-6
					input( type="time", name="permissions[0][startTime]", value=moment().format( 'HH:mm' ), style="display: inline; width: auto;" ).form-control
					| &nbsp;
					input( type="date", name="permissions[0][startDate]", value=moment().format( 'YYYY-MM-DD' ), style="display: inline; width: auto;" ).form-control
			.form-group
				label.col-md-3.control-label Expires
				.col-md-6
					input( type="time", name="permissions[0][expiryTime]", style="display: inline; width: auto;" ).form-control
					| &nbsp;
					input( type="date", name="permissions[0][expiryDate]", style="display: inline; width: auto;" ).form-control
			.form-group
				.col-md-offset-3.col-md-6
					button(type='button').btn.btn-xs.btn-danger.js-repeater-remove-item Remove

