extends /views/notrack.pug

block prepend title
	- title = 'Exports'
	- page = 'exports'

block contents
	.row
		.col-md-3
			include /apps/members/apps/member/views/partials/sidebar.pug
		.col-md-9
			+page_header( member.fullname )

			table.table.table-condensed
				thead
					tr
						th Export name
						th Status
				tbody
					for item in exportItems
						tr
							td
								= item.type.exportName
								|
								| /
								|
								a(href="/tools/exports/" + item.export.id)
									= item.export.description
							td
								form(method="post").form-inline
									+csrf
									input(type="hidden" name="exportItemId" value=item.id)
									.form-group
										select(name="status").form-control
											for status in item.type.itemStatuses
												option(selected=status === item.status)= status
									| &nbsp;&nbsp;
									button(name='action' value='update').btn.btn-sm.btn-warning Update
