if poll.hidden
	|
	|
	span.label.label-primary Hidden
if Options('join-survey') === poll.slug
	|
	|
	span.label.label-info Join poll
if Options('cancellation-survey') === poll.slug
	|
	|
	span.label.label-info Cancellation poll
