extends /src/views/base.pug

block prepend title
	- title = 'Email'

block contents
	.row
		.col-md-12
			+page_header(email.name)

			p Sent #{sends.length} times

	.row
		.col-md-8
			hr
			h4 Update email
			include partials/email-form

	.row
		.col-md-8
			hr
			h4 Send email

			form(action='/tools/emails/' + email.id + '/send?_csrf=' + csrf method='POST' enctype='multipart/form-data').form-horizontal
				.form-group
					label(for='file').control-label.col-md-3 Recipient list
					.col-md-6
						input(type='file', name='file')#file.form-control

				.form-group
					.col-md-offset-3.col-md-6
						button.btn.btn-primary Upload

	.row
		.col-md-8
			hr
			h4 Delete email
			form(method='POST')
				+csrf
				p
					label.checkbox-inline
						input(type='checkbox' required)
						| This change is irreversible, confirm to proceed
				button(name='action' value='delete').btn.btn-danger.outline Delete
