extends /views/base.pug

block prepend js
  script(src='/static/js/lib/quill.min.js')

block append css
  link(rel='stylesheet' href='/static/css/lib/quill.snow.css')

block prepend title
  - title = 'Email to manual contributors'

block contents
  .row
    .col-md-12
      +page_header('Email to manual contributors')

  .row
    .col-md-8
      p.
        This tool will email all your manual contributors with a link to convert
        their contribution to GoCardless. If they've never logged in before they
        will also be able to set a password for their account.

      p.
        The first payment date of their new contribution is calculated using the
        following rules:

      ol
        li
          p.
            Members with an expiring membership will have their first payment
            taken on the date it expires
          p.
            You have #{expiringMembers} manual contributor(s) with an expiring
            membership
        li
          p.
            Monthly contributors with a non-expiring membership will have their
            first payment taken a month after they convert

          p.
            You have #{nonExpiringMonthlyMembers} manual contributors(s) with an
            non-expiring monthly membership
        li
          p.
            Annual contributors with a non-expiring membership #[b will not] be
            able to convert their contribution.

          p.
            You have #{nonExpiringAnnualMembers} manual contributors(s) with an
            non-expiring annual membership

      hr

      h4 Send email

      if nonExpiringAnnualMembers > 0
        .alert.alert-warning.
          You have #{nonExpiringAnnualMembers} member(s) who pay an
          annual contribution with no membership expiry date.

      form(method='POST').form-horizontal
        +csrf

        - systemEmails = ['convert-manual-to-gc']
        include /apps/tools/apps/emails/views/partials/email-fields

        .row: .col-md-offset-3.col-md-9
          p: button.btn.btn-primary Send

