
extends /views/base.pug

block contents
	.row
		.col-md-12
			+page_header('Newsletter sync report')

	.row
		.col-md-12 
			h4 New contacts to upload
			table.table.table-striped
				thead
					tr
						th Contact
						th Email
				tbody
					each contact in newContactsToUpload
						tr
							td: a(href='/members/' + contact.id)= contact.fullname
							td= contact.email
		
			h4 Contacts to import
			table.table.table-striped
				thead
					tr
						th Email
						th Status
				tbody
					each contact in contactsToImport
						tr
							td= contact.email
							td= contact.status
			
			h4 Mismatched contacts
			table.table.table-striped
				thead
					tr
						th Contact
						th Status
						th Groups
						th Active?
				tbody
					each m in mismatchedContacts
						tr
							td: a(href='/members/' + m.contact.id)= m.contact.fullname
							td
								= m.contact.profile.newsletterStatus
								| <>
								= m.status
							td
								= m.contact.profile.newsletterGroups
								| <>
								= m.groups
							td
								= m.contact.membership && m.contact.membership.isActive ? 'Yes' : 'No'
								| <>
								= m.tags.includes(Options('newsletter-active-member-tag')) ? 'Yes' : 'No'
