extends /src/views/base.pug

block prepend title
	- title = app.title

block append js
	script(src='https://js.stripe.com/v3/')
	script.
		var stripe = Stripe('#{stripePublicKey}');
	script(src='/static/js/gift.js?v=' + git)

block body
	header.join-header#join
		.join-header__bg

		form(method='POST').join-form.js-gift-form
			+csrf

			.join-title
				div
					img(src='/static/svg/logo.svg').join-title-logo
				h1 Gift the#[br]Cable

			.js-gift-errors
				include /src/views/partials/flash.pug

			.join-gift-included
				h4 What's included?

				ul.join-gift-reasons
					li Cable membership: own a share and have a say in your media
					li Quarterly magazine in the post: full of public interest journalism and local voices
					li Free or discounted tickets to Cable events
					li Making independent and investigative media free for all
					li Joining a community of thousands of Bristolians to support a new, democratic media

			.hidden-js
				p.
					Unfortunately you must have JavaScript enabled to buy gifts
					online at the moment, please contact
					#[+email('membership@thebristolcable.org')] if you want to continue.

			.hidden-nojs
				h4 Who is the gift for?
				.join-field-group
					.join-field
						input(type='text' name='firstname' placeholder='First name' required).join-field__input

					.join-field
						input(type='text' name='lastname' placeholder='Last name' required).join-field__input

				h4 What's their email address?
				.join-field
					input(type='email' name='email' required).join-field__input

				h4 When should their gift start?
				p.join-field-info.
					We'll start their membership and send them a welcome email
					in the morning on this date.
				.join-field.join-field-date
					input(type='date' name='startDate' required).join-field__input

				h4 Add an optional personal message
				p.join-field-info.
					We'll include this in their welcome email.
				.join-field.join-field-message
					textarea(name='message').join-field__input

				h4 Who shall we say the gift is from?
				.join-field
					input(type='text' name='fromName' required).join-field__input

				h4 What's your email address?
				.join-field
					input(type='email' name='fromEmail' required).join-field__input

				button.join-gift-submit blah

				h4 How long would you like to gift the Cable for?

				ul.join-options.join-gift-types
					li.join-options__opt
						input(type='radio' name='type' value='12' required)
						button(type='button').btn.btn-primary.btn-lg.join-btn.js-gift-type
							| 12 months
							small for £36
					li.join-options__opt
						input(type='radio' name='type' value='6' required)
						button(type='button').btn.btn-primary.btn-lg.join-btn.js-gift-type
							| 6 months
							small for £18

				p.join-info.join-secure.small
					svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24')
						path(fill='currentColor', d='M18 10v-4c0-3.313-2.687-6-6-6s-6 2.687-6 6v4h-3v14h18v-14h-3zm-10 0v-4c0-2.206 1.794-4 4-4s4 1.794 4 4v4h-8z')
					| Your payment will be processed securely with Stripe.
