extends /src/views/base.pug

block prepend meta
	- shareTitle = 'Gift the Bristol Cable today!'
	- shareDescription = 'Become a member of local media created and owned by the people of Bristol.'
	- shareUrl = '/gift'
	- shareImage = 'https://membership.thebristolcable.org/static/imgs/share-join.jpg'

block prepend title
	- title = app.title

block append js
	script(src='https://js.stripe.com/v3/')
	script.
		var stripe = Stripe('#{stripePublicKey}');
	script(src='/static/js/gift.js?v=' + git)

block body
	header.join-header#join
		.join-header__bg

		form(method='POST').join-form.js-gift-form
			+csrf

			.join-title
				div
					img(src='/static/svg/logo.svg').join-title-logo
				h1 Gift the#[br]Cable

			.js-gift-errors
				include /src/views/partials/flash.pug

			h3 What's included?

			ul.join-gift-reasons
				li
					h4 Cable membership
				li
					h4 4× Cable print editions in the post
				li
					h4 Free or discounted tickets to events

			.hidden-js
				p.
					Unfortunately you must have JavaScript enabled to buy gifts
					online at the moment, please contact
					#[+email('membership@thebristolcable.org')] if you want to continue.

			.hidden-nojs
				h3 Who is the gift for?
				.join-field-group
					.join-field
						input(type='text' name='firstname' placeholder='First name' required).join-field__input

					.join-field
						input(type='text' name='lastname' placeholder='Last name' required).join-field__input

				h3 What's their email address?
				.join-field
					input(type='text' name='email' required).join-field__input

				h3 When should their gift start?
				p.join-field-info.
					We'll activate their membership and send them a welcome email
					at midday on this date.
				.join-field.join-field-date
					input(type='date' name='startDate' required).join-field__input

				h3 Do you want to add a personal message?
				p.join-field-info.
					We'll send them this as part of the welcome email.
				.join-field.join-field-message
					textarea(name='message').join-field__input

				h3 Who shall we say the gift is from?
				.join-field
					input(type='text' name='fromName' required).join-field__input

				p.join-charge You will be charged #[b £36] today.

				p
					button.btn.join-btn Buy gift

				p.join-info.join-secure.small
					svg(xmlns='http://www.w3.org/2000/svg', viewBox='0 0 24 24')
						path(fill='currentColor', d='M18 10v-4c0-3.313-2.687-6-6-6s-6 2.687-6 6v4h-3v14h18v-14h-3zm-10 0v-4c0-2.206 1.794-4 4-4s4 1.794 4 4v4h-8z')
					| Your payment will be processed securely with Stripe.

	.container.join-container
		.row
			.col-sm-10.col-md-7.join-center-col
				h2.text-center Why join?
				p.
					The Bristol Cable is a #[b grassroots] community-led media
					cooperative in Bristol.
				p.
					We exist to #[b inform and empower] our readers, members, and
					communities across Bristol, by creating #[b independent],
					challenging local media, rooted in the city and in
					#[b the public interest].

		ul.join-reasons
			li
				.row
					.col-sm-5
						h2 #[span Run] by you
				.row
					.col-sm-7.pull-right
						img(src='/static/imgs/join/photo1.jpg')
					.col-sm-5
						p.
							We're a community cooperative, which means we all decide
							how it's run.
						p.
							Our one member, one vote policy means all members have
							an equal say on decisions.
						p.
							No barons, no billionaires. Just 2,000 (and counting!)
							Bristolians.
			li
				.row
					.col-sm-5.col-sm-offset-7
						h2 #[span Created] by you
				.row
					.col-sm-7.pull-left
						img(src='/static/imgs/join/photo2.jpg')
					.col-sm-5
						p.
							As members we can all contribute to the Cable's
							journalism.
						p.
							At our monthly members' meetings we discuss the
							issues affecting our communities. Drawing on your
							experience and expertise, we can cover the stories
							that no one else is talking about.
			li
				.row
					.col-sm-10.col-md-7.join-center-col
						h2 #[span Made free] by you
						img(src='/static/imgs/join/photo3.jpg')
						p.
							By putting our money together we're able to print
							and distribute our paper for free across Bristol.
						p.
							It's packed with investigative journalism and
							in-depth articles about issues that matter in
							Bristol.
						p.
							Made free to access by members, because we believe
							journalism is a public good everyone should have
							access to.
	.join-footer
		.join-title
			div
				img(src='/static/svg/logo.svg').join-title-logo
			h1 Ready to#[br]be a part?
		.text-center
			h3 Join 2,000 people who own their media
			a(href='#join').btn.join-btn Join now
