extends /views/notrack.pug

block prepend title
	- title = app.title

block append css
	link( rel='stylesheet', href='/static/css/lib/query-builder.default.css' )

block append js
	script( src='/static/js/lib/query-builder.standalone.js' )
	script
		if searchRuleGroup
			| var searchRuleGroup = !{JSON.stringify(searchRuleGroup)};
	script( src='/static/js/search.js?v=' + git)

block contents
	.row
		.col-md-12
			.page-header
				if segment
					.pull-right
						a(href='/members/segments/' + segment.id).btn.btn-default
							i.glyphicon.glyphicon-pencil
				h3
					| Members#{segment ? ': ' + segment.name : ''}

			include partials/search.pug

			.members-table-actions
				form(method='POST')
					+csrf
					if segment && searchQuery.rules
						button(name='action' value='update-segment').btn.btn-xs.btn-warning
							i.glyphicon.glyphicon-floppy-disk
							span Update segment
					else if searchRuleGroup
						button(name='action' value='save-segment').btn.btn-xs.btn-primary
							i.glyphicon.glyphicon-floppy-disk
							span Save segment
				if segment
					a(href='/members/segments/' + segment.id + '/email').btn.btn-xs.btn-default
						i.glyphicon.glyphicon-send
						span New email
				if members.length > 0
					if 0
						form(method='POST')
							+csrf
							button(name='action' value='add-tag').btn.btn-xs.btn-default Add tag
					include partials/pagination.pug

			if members.length > 0
				include partials/table.pug
				include partials/pagination.pug
			else
				+messageBlock( 'info', 'There are no members to display.' )
