extends /views/notrack.pug

block prepend title
	- title = app.title

block append css
	link( rel='stylesheet', href='/static/css/query-builder.default.css' )

block append js
	script( src='/static/js/lib/query-builder.standalone.js' )
	script
		if search.query
			| var searchQuery = !{search.query}
	script( src='/static/js/search.js?v=' + git)

block contents
	.row
		.col-md-12
			+page_header( 'Search' )
			include partials/search.pug
	.row
		.col-md-12
			h3
				strong= title
				|
				|
				if members.length > 0
					small= pagination.start + ' to ' + pagination.end  + ' of ' + total

				if hasFilter
					form(method='POST').pull-right
						+csrf
						button(name='action' value='save-segment').btn.btn-sm.btn-info Save segment

			if members.length > 0
				include partials/pagination.pug
				include partials/table.pug
				include partials/pagination.pug
			else
				+messageBlock( 'info', 'There are no members to display.' )
