extends /views/notrack.pug

block prepend title
	- title = app.title

block contents
	.row
		.col-md-12
			+page_header( 'Search' )
			include partials/search.pug
	.row
		.col-md-12
			+page_header( title, { small: count + ' of ' + total + ' displayed' } )
			if count > 0
				include partials/table.pug
				include partials/pagination.pug
			else
				+messageBlock( 'info', 'There are no members to display.' )
