extends /src/views/splash.pug

block prepend title
	- title = 'Confirm your email address'

block splash-contents
	h3 Please confirm your email address
	p Not a member? #[a(href="/join") Join now]!
	include /src/views/partials/flash.pug
	include partials/form.pug
