extends /views/base.pug

block prepend title
	- title = app.title
	- heading = title

block contents
	.alert.alert-danger.
		Changing these options can break things, proceed with caution

	.table-responsive
		table.table.table-striped.table-condensed
			thead
				tr
					th Key
					th Value
					th
			tbody
				each option in options
					tr
						td #{ option.key }
						td #{ option.value }
						td(style='white-space: nowrap')
							a( href="/settings/options/" + option.key + "/edit" ).btn.btn-default.btn-xs
								span.glyphicon.glyphicon-pencil
							if ! option.default
								| 
								a( href="/settings/options/" + option.key + "/reset" ).btn.btn-default.btn-xs
									span.glyphicon.glyphicon-remove
