.special-urls-actions {
	list-style: none;
	margin: 0;
	padding: 0;
	counter-reset: actions;

	& > li {
		position: relative;
		border: 1px solid #dcdcdc;
		padding: 2rem;
		counter-increment: actions;
		margin-bottom: 1rem;

		&::before {
			content: "Action " counter(actions);
			position: absolute;
			top: -0.75rem;
			left: 1rem;
			background-color: white;
			font-size: 1.5rem;
			padding: 0 0.5rem;
		}
	}
}

.special-urls-remove-action {
	text-align: right;
	margin-bottom: 0;

	li:first-child:last-child & {
		display: none;
	}
}
