extends /src/views/base.pug

block prepend title
	- title = 'Contribution details'

block append js
		script( src="/static/js/update-contribution.js?v=" + git )

block contents
	.row
		.col-md-3
			- page = 'direct-debit'
			include /apps/profile/views/partials/sidebar.pug
		.col-md-9.col-lg-7
			+page_header( 'Contribution details' )
			p
				| You currently contribute
				|
				b £#{user.contributionAmount}/#{user.contributionPeriod === 'monthly' ? 'month' : 'year'}
				|
				| and the next payment is scheduled to be taken around the
				|
				b= moment(user.memberPermission.date_expires).format('Do MMMM YYYY')
				| .

			if user.nextContributionAmount
				p.alert.alert-success.
					You changed your contribution, your next payment will be for
					£#{user.nextContributionAmount}

			hr

			h3 Change contribution

			if canChange
				include partials/change-subscription
			else
				p.alert.alert-warning.
					You can't change your contribution online at the moment, please
					contact #[+email('membership@thebristolcable.org')] for support.

			hr

			h3 Cancel contribution
			p.
				If you cancel your contribution your membership will finish at the end of
				your current payment cycle.
			a( href="/profile/direct-debit/cancel-subscription" ).btn.btn-danger.outline Cancel contribution
