extends /views/base.pug

block prepend title
	- title = app.title

block flashes

block contents
	.row
		.col-md-12
			+page_header(poll.question)

	.row
		.col-md-offset-2.col-md-8
			p: b.
				In the next edition and beyond, we plan to focus more on
				highlighting and exploring solutions to some of the biggest issues
				facing our city.

			p.
				From policy changes which have worked elsewhere, to individuals
				doing great work here right now, we want to go beyond the problems
				and into the answers.

			p.
				We’re keen to hear from you which issues you think we should look
				at.

			hr#vote

			if answers.affected && !preview
				img(src='/static/imgs/polls/hand3.png').poll-hand3

				h3 Thank you!

				p.
					Thanks for taking the time to share your thoughts, your input is
					really valuable to the Cable.
					
				p.
					We may be in touch with you at a later point to follow up some
					of your answers.

			else if poll.active || preview
				form(method='POST' action='#vote')
					+csrf

					include /src/views/partials/flash.pug

					.poll-group
						.poll-section
							h4.
								1. What issues are affecting you which you'd like to see solutions for?
							p.
								They could be big or small, and affect you, your friends &
								family, or your local community.
							ol.poll-textlist
								li: input(type='text' name='answers[issues][]').form-control
								li: input(type='text' name='answers[issues][]').form-control
								li: input(type='text' name='answers[issues][]').form-control

						.poll-section
							h4 1.2. How are you personally affected by these issues?
							textarea(name='answers[affected]' required).form-control.poll-textarea


						.poll-section
							h4 1.3. What questions about these issues do you want us to answer?
							textarea(name='answers[questions]' required).form-control.poll-textarea

					.alert.alert-info.
						The following questions are all optional, you can
						#[a(href='#submit') skip to the end]

					.poll-section
						h4.
							2. Do you know of any potential solutions – big or small –
							that might address these problems and could be introduced in
							Bristol?
						p.
							For example these might be community responses, policy
							changes, new forms of activism, business models or tech
							innovations.
						.form-group
							textarea(name='answers[solutions]').form-control.poll-textarea

					.poll-section
						h4.
							3. What positive things or solutions do you know of which are
							being done in Bristol right now?
						p.
							These can be about any issue – we want to hear about great
							local projects, people, or organisations.
						.form-group
							textarea(name='answers[organisations]').form-control.poll-textarea

					.poll-section
						h4.
							4. Are you personally involved in any of these initiatives,
							or do you have knowledge or expertise about these issues?
						.form-group
							textarea(name='answers[skills]').form-control.poll-textarea

					.poll-section
						h4.
							5. What area of Bristol do you live in?
						.form-group
							input(type='text' name='answers[area]').form-control

					hr

					img(src='/static/imgs/polls/hand3.png').poll-hand4
					.poll-volunteer
						p
							| We'd like to publish some of these responses as part of
							| articles on solutions for Bristol.
							|
							b Would you be happy for us to include some of your responses?
						p.
							We will attribute your response to your first name, plus
							first letter of your surname, and the area of Bristol you
							live in.

						.form-group
							.checkbox
								label
									input(type='checkbox' name='answers[publish]' value='true')
									| Yes, you can include my response

					hr#submit

					p.
						We may be in touch with you at a later point to follow up some
						of your answers.

					p
						button.btn.join-btn Submit
			else
				.alert.alert-warning Submissions are now closed

