- contribution = contribution || {};
- member = member || {}

.js-reveal
  .form-group
    label.col-md-3.control-label Contribution type
    .col-md-6
      select(name='type' required).js-reveal-types.form-control
        option(value='' disabled selected) Select one
        each t in ['None', 'Manual']
          option(selected=member.contributionType === t)= t


  .js-reveal-type(data-type='Manual')
    +input( 'number', 'Amount', 'amount', {
      left: 3, right: 4, before: currencySymbol,
      value: contribution.amount
    })
    +input( 'radio', 'Period', 'period', {
      left: 3, right: 4,
      options: {'monthly': 'Monthly', 'annually': 'Annually'},
      value: contribution.period
    })

    .form-group
      label(for='source').control-label.col-md-3 Source
      .col-md-6
        select(name='source')#source.form-control
          option
          each source in Options.list('available-manual-payment-sources')
            option(selected=contribution.source === source)= source

    +input( 'text', 'Reference', 'reference', {
      left: 3, right: 6,
      value: contribution.reference
    })
