h5.col-md-offset-3.col-md-9 Payment details

.form-group
	label(for='source').control-label.col-md-3 Source
	.col-md-6
		select(name='source')#source.form-control
			option
			each source in Options.list('available-manual-payment-sources')
				option(selected=paymentData && paymentData.source === source)= source

+input( 'text', 'Reference', 'reference', {
	left: 3, right: 6,
	value: paymentData && paymentData.reference
})

h5.col-md-offset-3.col-md-9 Contribution details

+input( 'number', 'Monthly amount', 'amount', {
	left: 3, right: 4, before: currencySymbol,
	value: member && member.contributionMonthlyAmount
})
+input( 'radio', 'Period', 'period', {
	left: 3, right: 4,
	options: {'monthly': 'Monthly', 'annually': 'Annually'},
	value: member && member.contributionPeriod
})
