.member-search-options {
	margin-bottom: 1rem;
}

.member-search-group {
	.form-group {
		margin-bottom: 0.5rem;
		margin-right: 1rem;
	}
	.control-label {
		margin-right: 0.5rem;
	}
}

.member-table {
	tr {
		cursor: pointer;
	}
	td {
		outline: 0;
	}
}

.member-tag {
	margin-left: 1rem;
	.glyphicon.glyphicon-remove {
		font-size: 1rem;
		margin-left: 0.5rem;
	}
}

.member-add-tag {
	width: 30%;
}

.member-edit-form {
	margin-bottom: 1rem;
	&.is-editing {
		background-color: #f0f0f0;
		box-shadow: 0 0 0 10px #f0f0f0;
	}
}
