extends /src/views/splash.pug

block prepend title
	- title = 'Can\'t change contribution'

block splash-contents
	h3 Unable to change contribution
	p.
		It looks like your direct debit has been cancelled.

	p Contact #[+email('membership.thebristolcable.org')] for support.
