extends /src/views/base.pug

block prepend title
	- title = app.title

block flashes

block contents
	.row
		.col-md-12
			+page_header(poll.question)

	.row
		.col-md-offset-2.col-md-8
			img(src='/static/imgs/polls/agm2019/title.png').poll-title-image

			p.
				At the Cable we’re committed to creating quality local journalism
				that holds power to account, amplifies diverse voices and
				highlights new ideas. Over the past five years, members have
				contributed to making this happen, by prioritising what topics we
				cover, voting on key questions like whether we should do
				campaigning journalism, and choosing the campaign itself. 

			p.
				Our key aims for the upcoming year are: 

			ol
				li.
					Reach more people online with innovative journalism, and get them
					to become members!
				li.
					Build deeper relationships with individuals and communities, to
					develop trust and input from across the city

			p.
				We’ve got ideas for strategies on how best to reach these aims. But
				we can’t do both at the same time, because we don't have the
				resources or capacity. This is why we’re asking members to help
				decide which to prioritise, by thinking about what is most
				important right now. For example:

			ul
				li What should be the Cable’s focus?
				li What will help improve membership growth?
				li What’s the best way to create impactful journalism?
				li What’s the best way to have diverse contributors and audience?

			p.
				You can also share what other things you think the Cable should
				focus on.

			p.
				Once members have contributed, the Cable team will come up with a
				plan on how to enact the favoured strategy and will update you all
				in due course. Cheers!

			hr#vote

			if answers.strategy && !preview
				img(src='/static/imgs/polls/hand3.png').poll-hand3

				h3 Thank you!

				p.
					Thanks for taking the time to share your thoughts, your input is
					really valuable to the Cable.
					
				p.
					We'll be collecting people's feedback over the next couple of
					weeks and you can expect an update with a summary of the themes
					and learnings shortly afterwards.

			else if poll.active || preview
				form(method='POST' action='#vote')
					+csrf

					include /src/views/partials/flash.pug

					.poll-section
						h3 Which editorial strategy should we prioritise?

						.poll-agm2019-editorial-strategy
							h4 Strategy 1: A “Far and Wide” strategy - Video journalism

							p.
								The Cable needs to focus on growing its digital audience as
								this will increase membership growth and impact. The use of
								quality video journalism is an original way for local
								journalism to reach new and larger audiences.

							p: b What do we mean by video journalism?

							ul
								li Short investigative documentaries - taking a leaf out of our written reporting but turning it into video content. 
								li Short ‘myth busting’ videos, debunking fake news, and reporting on matters of public interest 
								li Short documentaries featuring the unsung stories of local communities, innovation and inspiring work in Bristol
								li Exclusive video interviews to accompany  articles and bolster digital reach
								li Short  ‘visual investigation’ videos - using pioneering methods of editing maps, photography, and social media content to tell stories

						.poll-agm2019-editorial-strategy
							h4 Strategy 2: A “Concentrated and Deep” Strategy - Community journalism

							p.
								The Cable should prioritise  community engagement in its
								journalism to build deep relationships with specific
								communities. Local news organisations rarely do community
								engagement, meaning we can secure a niche in this area.

							p: b What do we mean by community journalism?

							ul
								li A roaming newsroom visiting different communities to get tip-offs, feedback on the stories we publish and increase visibility and trust.
								li A series of articles on the issues affecting specific neighbourhoods and/ or underrepresented communities in media
								li Co-producing journalism and events with individuals and communities
								li Roundtable discussions to amplify the voices of local communities on matters of local concern
								li Speaker events/ workshops hosted in local communities on issues of concern which have been reported on by the Cable

					h3 Choose a strategy

					.poll-section
						.poll-agm2019-editorial-options
							input(type='radio' name='answers[strategy]' value='1' required)#answer1
							label(for="answer1").btn Strategy 1
							input(type='radio' name='answers[strategy]' value='2' required)#answer2
							label(for="answer2").btn Strategy 2

					.poll-section
						h4 What else do you think the Cable's journalism should be focusing on?

						ol.poll-textlist
							li: input(type='text' name='answers[focus][]').form-control
							li: input(type='text' name='answers[focus][]').form-control
							li: input(type='text' name='answers[focus][]').form-control

					.poll-section
						h4 Do you have any other comments?
						.form-group
							textarea(name='answers[comments]').form-control.poll-textarea

					p.
						Please note you will not be able to change your answers once
						you press submit.

					p
						button.btn.join-btn Submit
			else
				.alert.alert-warning Voting is now closed

