extends /src/views/base.pug

block prepend title
	- title = app.title

block flashes

mixin question(id, question, last)
	input(type='checkbox' id='next_' + id checked=last).poll-agm2019-membership-next
	.poll-section
		hr
		h4= question
		block
		.poll-agm2019-membership-slider
			input(type='range' min='0' max='100' step='1' name=id required)
			ul.poll-agm2019-membership-slider-labels
				li: small Strongly disagree
				li: small Not sure/#[br]neutral
				li: small Strongly agree

		h4 Reasons/comments
		.form-group
			textarea(name=id + '_reasons').form-control.poll-agm2019-membership-reasons

		p.poll-agm2019-membership-next-btn
			label(for='next_' + id).btn Next

block contents
	.row
		.col-md-3
			- page = ''
			if access('member')
				include /apps/profile/views/partials/sidebar.pug
		.col-md-9
			.page-header
				h3 &nbsp;

			.row
				.col-md-9
					img(src='/static/imgs/polls/agm2019/title.png').poll-title-image

					p.
						We’re asking questions about what membership means at the Cable,
						and specifically about who can access what parts of the Cable.
					p.
						Why are we asking about this? To put it simply, because we want to
						attract more members to the Cable. We also want to make sure our
						membership is diverse and that we’re not inadvertently excluding
						certain groups of people. The more people included in the Cable,
						the better - for our journalism and for the co-op.
					p.
						Growing our membership is also important because we want to raise
						more money from members’ contributions. At the moment, about a
						third of our income comes from our 2050 members - which is pretty
						amazing since average contributions are less than £3 a month. Lots
						of people giving affordable amounts combines to give us over
						£60,000 per year.
					p.
						However, we want to see if we can bring in even more members and
						reduce our reliance on grant funding. To be financially sustainable
						through members’ contributions would give us security and huge
						independence and freedom to pursuit the kind of reporting that our
						members think best serves Bristol.
					p.
						In the coming year, we want to tweek aspects of our membership
						offer to see if this helps us attract more people to the Cable.
						There are some groups we’re currently not reaching, like under 25
						year olds. Could discounted or one-off membership payments be more
						attractive to them than signing up to pay monthly? These are the
						kind of questions we’re considering.
					p.
						So we’re asking YOU what is key to membership at the Cable. What do
						you want to see stay the same? What is integral to the Cable’s
						values? And where is there room to change or experiment with our
						membership offer?
					p.
						A really important value for the Cable is that our journalism and
						membership reaches as many people as possible. We don’t want money
						to be a barrier to people reading our reporting or being part of
						the co-op. On the other hand, we want to make more money so that we
						can remain independent and secure our future.
					p.
						Similarly, we want to make it really easy for people to become
						members. But, at the same time, we want people to value what the
						Cable does and buy-in to being an owner of the co-op when they sign
						up
					p.
						This is our dilemma and we’d love to hear what you think… Please
						record thoughts/comments/reasons as well as responses to the
						questions below.

					hr#vote

					if answer.answer
						img(src='/static/imgs/polls/hand3.png').poll-hand3

						h3 Proceed to the Editorial feed in

						a.btn(href='/polls/agm2019-editorial' + (code ? '/' + code : '')) Proceed

					else if poll.active
						form(method='POST' action='#vote')
							+csrf

							include /src/views/partials/flash.pug

							h3 Who can access what?

							p.
								Go through each question and consider. Put your comments or reasons
								in the box below, including any ideas you have around each topic.

							.alert.alert-info.
								There are 5 questions

							+question('access', '1) Everyone should have access to our journalism for free e.g. free papers, free online content')
								p.
									Stuff that should go here

							+question('delivery', '2) Only members who pay £3 or more should have the Cable sent to their home')

							+question('events', '3) All members should get free or discounted tickets to our ticketed public events i.e. not community or members’ meetings')

							+question('participate', '4) Only members should be able to participate in our online polls, forums etc.')

							+question('contribution', '5) We should keep membership minimum contribution at £1/month', true)

							.poll-agm2019-membership-submit
								hr

								if code
									h4 Please confirm your email address
									p.
										For data protection reasons, this must be the email address
										that we have on record for you.  If you have trouble please
										email
										#[a(href='mailto:membership@thebristolcable.org') membership@thebristolcable.org].

									.form-group
										input(type='email' name='email' required).form-control

								p.
									Please note you will not be able to change your answers once
									you press submit.
								p
									button(name='answer' value='vote').btn.join-btn Submit
					else
						.alert.alert-warning Voting is now closed

