extends /src/views/base.pug

block prepend title
	- title = app.title

block contents
	.row
		.col-md-3
			- page = ''
			include /apps/profile/views/partials/sidebar.pug
		.col-md-9
			+page_header( 'Come to the Cable\'s AGM' )

			.row
				.col-md-9
					if answer
						.alert.alert-success
							| You are
							|
							if answer.answer === 'yes'
								| coming to the AGM!
							else
								| not coming to the AGM.
							if !poll.closed
								|
								| You can
								|
								a(href="#vote") change your mind
								|
								| up until 5pm on February 27th.

					p Some stuff about the AGM here

					if !poll.closed
						hr#vote

						if justAnswered
							h3 Thank you!

							.alert.alert-success.
								See you at the AGM! or not

						form(method='POST' action="#vote")
							+csrf

							include /src/views/partials/flash.pug

							if code
								h4 Please confirm your email address
								p.
									For data protection reasons, this must be the email address
									that we have on record for you.  If you have trouble please
									email
									#[a(href='mailto:membership@thebristolcable.org') membership@thebristolcable.org].

								.form-group
									input(type='email' name='email' required).form-control

							h4 Would you like to come to the AGM?
							.poll-options
								input(type='radio' name='answer' value='yes' required)#answer1
								label(for="answer1").btn Yes
								input(type='radio' name='answer' value='no' required)#answer2
								label(for="answer2").btn No

							h4 Do you require any child care

							p We provide a free blah

							button.btn.join-btn Reply
