extends /src/views/base.pug

block prepend title
	- title = app.title

block contents
	.row
		.col-md-3
			- page = ''
			if access('member')
				include /apps/profile/views/partials/sidebar.pug
		.col-md-9
			+page_header( 'Vote for the Cable\'s next campaign' )
			.row
				.col-md-9
					if answer.answer
						.alert.alert-success
							| You voted to campaign to
							|
							|
							if answer.answer === '1'
								| prevent drug deaths and clean up our streets
							else
								| clean up our air
							| .
							if poll.active
								|
								| You can
								|
								a(href="#vote") change your mind
								|
								| up until 5pm on February 27th.

					p.
						We believe journalism isn’t just about information. It’s about
						empowering our communities and making a difference.

					img(src='/static/imgs/polls/hand1.png').poll-hand1

					p.
						In 2017 Bristol Cable members voted to create lasting change through
						dogged, creative and impactful campaigning journalism. Since then we
						have chalked up several wins.

					p.
						Over the past months, Cable members have contributed to planning our
						next campaign. 

					p.
						#[b And now it's time to have you say and vote for what we do next!]
						Voting closes on February 27th.

					if !poll.active
						.alert.alert-warning Voting is now closed

						h3 The result

						.poll-result
							.poll-result-label
								b Campaign 1:
								br
								| Safer drug use
							.poll-result-bar
								.poll-result-bar2(style='background: #456990; width:' + (186/393*100) + '%')
								span 186 votes
						.poll-result
							.poll-result-label
								b Campaign 2:
								br
								| Cleaner air
							.poll-result-bar
								.poll-result-bar2(style='background: #49BEAA')
								span 393 votes
					else
						p
							a(href="#vote").btn.poll-btn Go to vote

					hr

					h3 The campaigns

					p Read about the campaigns then make your choice below

					h3.poll-title.poll-title--orange
						span Campaign 1: Prevent drug deaths and clean up our streets!

					p.
						Every day, people who use drugs risk infection and overdose. Many
						residents feel unsafe and find thousands of needles in our parks.
						Police time is wasted fighting a public health crisis. And the NHS
						picks up the pieces. 

					p.
						But it doesn’t have to be this way. 

					p.
						Safe drug consumption rooms are medical facilities where people take
						illegal drugs and receive support to get clean. These services improve
						rehab rates, reduce drug deaths, crime, infections, public injecting
						and needle litter. 

					p.
						They are pioneered in more than 10 countries, but the government
						remains opposed. Now a growing number of charities, politicians, senior
						police and local authorities are backing them.

					p.
						This campaign would drum up support and call on the council to work
						with the police, community groups and public bodies to set up a safe
						consumption room in Bristol immediately. 

					h3.poll-title.poll-title--orange
						span Campaign 2: We want clean air. Let’s fight for it.

					p.
						At a busy junction or in your neighbourhood, the very air we breathe is
						doing us harm.

					p.
						A day spent on the streets of Bristol does as much damage as smoking
						between 1–2 cigarettes. Approximately 300 deaths every year are
						attributable to air pollution. 

					img(src='/static/imgs/polls/hand3.png').poll-hand3

					p.
						Countless others suffer, with children and people in working class
						neighbourhoods hit hardest. 

					p.
						This can, and must, change.

					p.
						From industry to fuel, transport to research, the problems – and
						solutions – are wide-ranging. 

					p.
						But the solutions will only be implemented if we push for it. 

					p.
						Through a series of coverage and working with allies and community
						groups the Cable will investigate the sources and solutions to
						Bristol’s dirty air and then push for action, from companies, the
						authorities and the public. 

					p.
						It’s time we all breathed a little easier.

					if poll.active

						hr#vote

						if answer.answer
							h3 Thank you!

							.alert.alert-success.
								Thank you for voting, we will be announcing the result after Feburary 27th

							p.
								Spread the word on social media to get others involved in
								democratic media.

							.poll-share
								a(
									href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fthebristolcable.org%2Fcampaign2019"
									target="_blank"
								).btn.btn-fb Facebook
								a(
									href="https://www.twitter.com/intent/tweet?text=I've%20just%20voted%20for%20what%20The%20Bristol%20Cable%20should%20campaign%20for%20next.%20You%20can%20too.&url=https%3A%2F%2Fthebristolcable.org%2Fcampaign2019"
									target="_blank"
								).btn.btn-tw Twitter

							hr

						h3 Choose a campaign
						p You can change your vote up until 5pm on 27th February.

						form(method='POST' action="#vote")
							+csrf
							include /src/views/partials/flash.pug

							if code
								h4 Please confirm your email address
								p.
									For data protection reasons, this must be the email address
									that we have on record for you.  If you have trouble please
									email
									#[a(href='mailto:membership@thebristolcable.org') membership@thebristolcable.org].

								.form-group
									input(type='email' name='email' required).form-control

							h4 Which campaign would you like to vote for?
							.poll-options
								input(type='radio' name='answer' value='1' required)#answer1
								label(for="answer1").btn Campaign 1
								input(type='radio' name='answer' value='2' required)#answer2
								label(for="answer2").btn Campaign 2

							h4 Why are you voting for this campaign?

							.form-group
								input(type='text', name='reason').form-control

							p.
								With your permission, we'd like to use your voice to encourage
								other members to take part in this poll.

							.form-group
								.checkbox
									label
										input(type='checkbox' name='shareable' value='true')
										| Yes, you can show my reason and first
										| name in communications

							h4 Get involved (optional)

							img(src='/static/imgs/polls/hand3.png').poll-hand4
							.poll-volunteer
								p.
									Together as members we can make a difference. Are you interested
									in being contacted about opportunities to get involved in the
									campaign?

								.form-group
									.checkbox
										label
											input(type='checkbox' name='volunteer' value='true')
											| Yes, I'd like to be contacted about opportunities to get
											| involved

							p.
								Do you have any particular ideas of how you'd like to be
								involved?

							.form-group
								input(type='text', name='idea').form-control

							button.btn.join-btn Vote
