extends /src/views/base.pug

block prepend title
	- title = app.title

block append js
	script(src='/static/js/poll-directors2019.js?v=' + git)

block flashes

mixin candidate(name)
	li(style="order: " + Math.floor(Math.random() * 100))
		label.poll-directors2019-candidate
			.poll-directors2019-candidate-image
				img(src='/static/imgs/polls/directors2019/' + name + '.jpg')
			.poll-directors2019-candidate-bio
				h3= name
			.poll-directors2019-candidate-vote
				input(type='checkbox' name='candidates[]' value=name).js-poll-directors2019-candidate
				svg(viewBox="0 0 80 80")
					use(href='#cross')
		block

block contents
	svg(xmlns="http://www.w3.org/2000/svg" style="display: none")
		path(id="cross" d="M19 74a2 2 0 0 1-.5-.4c-.2-.2-1.4-2.6-1.4-2.9 0-.2-.2-.2-.8 0a3 3 0 0 1-2.4-.2 8 8 0 0 1-2.5-2.7c-.3-.6 0-1.5.6-2.8l.5-1-.3-.2a3.8 3.8 0 0 1-1.2-2.5c0-1 .3-1.5 2-3.7 3.4-4.5 7-8.8 11.8-14l1.9-2.2-1.4-2.3c-2.6-4.3-5.2-9.8-7.5-15.5-2-5-2.3-6.3-1.7-8.2.8-2.6 1.7-3.5 3-3.2l1.5.8 1.1.7s.3-.4.4-1c.4-1 1-2 1.5-2.5.6-.6 2.3-.3 2.9.6l.9 1.5a113.2 113.2 0 0 0 10.4 15.4l.4.5 1-1a257.4 257.4 0 0 1 21-21c.6-.3 1-.3 1.9.1 1.3.6 2.1 2 2.5 4l.2.6.8.1c1 .1 2.3.7 3 1.4.3.4.3.6.4 1.4 0 1.7 0 2-2.6 4.4A164.5 164.5 0 0 0 47.9 39l-1 1.4L49 43c3.4 4.5 7.4 9.3 10.5 12.8 1.3 1.4 1.5 1.7 1.4 2.8 0 2.2-1 3.5-3 4-.8.1-.8.1-1 .6-.1 1-.9 2.7-1.4 3.3-.5.7-1.2 1.2-1.8 1.2-.5 0-2-.5-2.4-.9l-.4-.3-.2.4c-.5 1-2.5 2.1-3.5 2.1-.3 0-.8 0-1-.2-1.5-.7-5.2-5.4-9-11.3L35.4 55a228.5 228.5 0 0 0-15.3 18.7c-.6.2-.8.3-1 .1z")
	.row
		.col-md-3
			- page = ''
			if access('member')
				include /apps/profile/views/partials/sidebar.pug
		.col-md-9
			.page-header
				h3 &nbsp;

			.row
				.col-md-9
					img(src='/static/imgs/polls/directors2019/title.png').poll-title-image

					p.
						As a cooperative, the Cable staff (the ‘coordinators’) have been
						supported by an amazing board of directors, who act as critical
						friends and advisors to the co-op.  See the current board
						#[a(href='https://thebristolcable.org/directors/') here].

					p.
						Electing new directors is an important part of being a member of
						the Cable. While directors do not play an executive or operational
						role in day to day activities, they do offer guidance and act as
						one of the key ways that coordinators are held accountable.
						#[b You choose who that will be].

					p.
						This year we are holding the election online to allow as many
						members as possible to vote.  #[b Voting closes on October 14th]
						and the results will be announced at the AGM and online. If you
						haven't RSVPed to the AGM you can do so
						#[a(href='/polls/agm2019') here].

					if answer.answer
						hr#vote

						img(src='/static/imgs/polls/hand3.png').poll-hand3

						h3 Thank you for voting

						p
							if answer.candidates
								| You voted for
								|
								= answer.candidates.slice(0, -1).join(', ')
								if answer.candidates.length > 1
									|
									| and
									|
								= answer.candidates.slice(-1)[0]
								| .
							else
								| You abstained from voting for any candidates.
							|
							| We'll be annoucing the reuslts at the AGM on October 14th
							| and online shortly afterwards.

					else if !poll.closed
						hr#vote

						h3 Vote for your candidates

						form(method='POST' action='#vote')
							+csrf

							include /src/views/partials/flash.pug

							p.
								The Cable team invites you to consider the following areas
								that have been identified as areas where we feel more expertise
								is needed on the board:

							ul
								li Journalism/ editorial and digital media
								li Social enterprises/ membership-based orgs
								li Product management in news, subscription or membership orgs
								li Branding and marketing
								li Business and organisational management
								li Financial oversight and budgeting
								li Legal support, specifically in media
								li Flat business structures
								li Management of organisations of 10+ paid staff
								li Active engagement and links with networks or community groups in the Bristol area
								li Not just skills: we need directors who represent members, and communities who aren't yet members.

							p.
								Please take the time to look through each of the candidates
								below before making your choices.

							.alert.alert-warning.
								Candidates are listed randomly, you may select up to three
								choices.
								#[b You must click Submit for your vote to be registered.]

							ul.poll-directors2019-candidates
								+candidate('Leila Gamaz')
									p.
										I have closely followed The Cable since its inception, and
										would love to be able to share my skills and be involved.
										I’ve lived in Bristol for 10 years, and have extensive
										experience volunteering with local co-operatives and
										charities from The Cube Cinema to Bristol Women’s Workshop,
										Bristol Design, Bristol Co-operative Gym, and 91 Ways.
										Within these roles I’ve been involved in
										bid-writing/fundraising, community work, teaching, and
										managerial roles. I have also been a support worker for 10
										years, and managed care packages. I currently lead various
										projects at Up Our Street, a community organisation who
										work exclusively in Easton and Lawrence Hill. I have a
										particular interest in writing about intersectionality,
										postcolonialism, and identity. Connecting communities,
										nourishing grassroots projects, and reaching out to
										marginalised communities is a theme across my work and
										life.

								+candidate('Alain Demontoux')
									p.
										I have been a member of the Bristol Cable for over two
										years and was co-opted on to the Board to support the
										Treasurer in November 2018. 

									p.
										I have been in involved in the co-operative sector for over
										30 years in both Essential Trading, where I was the finance
										lead, and for the last 12 years as Operations Manager at
										Co-operative and Community Finance, where we have been
										providing loan finance to worker coops, employee and
										community businesses since 1973. I also have experience of
										the co-operative housing sector and within the voluntary
										sector as the treasurer of a community centre and an
										anti-GMO lobby group. I also take a keen interest in the
										International Development Sector. 

									p.
										For me the ethics, ethos and democracy of co-operatives
										have always been the most important factors in business.
										Integrity and transparency are key. 

									p.
										I feel the job the that the Cable do is invaluable, not
										only in holding local democracy to account by shining a
										light when these institutions fail but also to support and
										champion the communities that they serve. The Cable is also
										a critical and democratic counterbalance to the
										multinational media sector that forever manipulates the day
										to day news, affecting everyone’s lives.

									p.
										The world needs more Bristol Cables!

								+candidate('Noelle Rumball')
									p.
										Noelle has spent most of the last 10 years working in
										Higher Education, mostly in business intelligence and
										statutory regulations, but also in student-facing advice
										and support.  She has led services of up to 100 people,
										cross-campus and cross-city, and there aren’t many HR
										challenges she hasn’t faced – including union negotiations
										and an employment tribunal. Before moving to HE, she
										defined and measured success for various public sector
										bodies and learned to wrangle Excel like nobody’s business.
										She has led many successful large-scale change projects,
										including formal restructures.

									p.
										On evenings and weekends, she is active in Bristol’s
										community and voluntary sector where, over the years, she’s
										been involved in service delivery, community development,
										and campaigning organisations, both as a leader and a
										member-at-large. Governance is her favourite and most
										time-consuming hobby, and in addition to being a Director
										at the Bristol Cable since 2016, she has also been a school
										governor, and is currently Chair of the University of
										Bristol Students’ Union and the Treasurer of Up Our Street.
										She most enjoys supporting organisations through periods of
										intensive change and/or great challenge, and would love to
										remain involved with The Bristol Cable through the next few
										years.

								+candidate('Elisha Sicher-Hearle')
									p.
										My appraisal of independent news media to inform and coerce
										better choices by society is very high.  "I don't know
										anything about being on a board", however I am very happy
										to help. My ethos is egalitarian, a proponent of Martin
										Luther Kings Jr 'radical love' in the public sphere. I am a
										professional landscape gardener, with my own business in
										Bristol. I am an amateur in history, philosophy, economy
										and politics. These have informed by experience living and
										working within Bristol. I don't have any experience in
										corporate, or public institutions but I have an insight
										thorough my partner who works as a fundraising manager for
										Somerset and North Devon for a large charity. I would be
										like be part of the Cable and my passion for innovative
										solutions.

								+candidate('Grant Davies')
									p.
										I am a former BBC and ITN national TV journalist that has
										spent the last 20 years running an independent documentary
										production company specialising in educational programmes.
										Through this experience I have gained an in-depth and up to
										date knowledge of the issues around reporting and
										publishing digital and print  media which if elected as a
										director I would use to  support the Cable.

									p.
										I believe the Cable represents an increasingly important
										means of communicating alternative views and stories in the
										face of a mainstream media whose reporting is often subject
										to corporate, political or financial interests. 

									p.
										As well as being a news and documentary producer, I have
										also worked as a senior lecturer in digital media at UWE
										and trained as a secondary teacher in Nailsea. As a
										lifelong Bristolian I have a lot of contacts in the world
										of education and I would hope to support the Cable by
										building on the youth activism momentum started by the
										likes of Malala Yousafzai and Greta Thunberg to engage
										students and young people around the city, encouraging them
										to join the Cable in investigating, questioning and
										generating their own news rather than passively swallowing
										other people's stories.

							if code
								h4 Please confirm your email address
								p.
									For data protection reasons, this must be the email address
									that we have on record for you.  If you have trouble please
									email
									#[a(href='mailto:membership@thebristolcable.org') membership@thebristolcable.org].

								.form-group
									input(type='email' name='email' required).form-control

							p.hidden-nojs.js-poll-directors2019-selected

							p.
								Please note that you can't change your vote once you have submitted it.

							p
								button(name='answer' value='vote').btn.join-btn.js-poll-directors2019-submit Submit
