extends /views/base.pug

block contents

  .row: .col-md-12: +page_header('Expired link')

  .row: .col-md-8
      p.
        This link has expired for security reasons, we've sent you a new one.
        Check your inbox to continue
