h4 Contribution
dl.dl-horizontal
	dt Type
	dd= member.contributionType || '–'
	if member.contributionType
		dt Amount
		dd
			= contribution.description
		case member.contributionType
			when 'Automatic'
				include automatic.pug
			when 'Manual'
				include manual.pug
