h4
	| Contribution
	if access('superadmin')
		|
		|
		a(href='/members/' + member.id + '/contribution').btn.btn-default.btn-sm: span.glyphicon.glyphicon-pencil
dl.dl-horizontal
	dt Type
	dd= member.contributionType || '–'
	if member.contributionType
		dt Amount
		dd= member.contributionMonthlyAmount ? currencySymbol + member.contributionMonthlyAmount : '–'
		dt Period
		dd= member.contributionPeriod || '–'
		case member.contributionType
			when 'GoCardless'
				include gocardless.pug
			when 'Manual'
				include manual.pug
