h4 Contribution
dl.dl-horizontal
	dt Type
	dd= member.contributionType || '–'
	if member.contributionType
		dt Amount
		dd
			= member.contributionDescription
			if member.nextContributionAmount
				br
				| Will change to
				|
				= currencySymbol + member.nextContributionAmount
		case member.contributionType
			when 'Automatic'
				include gocardless.pug
			when 'Manual'
				include manual.pug
