mixin gcLink(id, type)
	if id
		a(href=`https://manage.gocardless.com/${type}/${id}`)= id
	else
		| –

dt Paying fee?
dd= gcData.payFee ? 'Yes' : 'No'
dt Customer ID
dd: +gcLink(gcData.customerId, 'customers')
dt Mandate ID
dd: +gcLink(gcData.mandateId, 'mandates')
dt Subscription ID
dd: +gcLink(gcData.subscriptionId, 'subscriptions')
if gcData.cancelledAt
	dt Cancelled
	dd= moment(gcData.cancelledAt).format('HH:mm:ss DD/MM/YYYY')
