mixin gcLink(id, type)
	if id
		a(href=`https://manage.gocardless.com/${type}/${id}`)= id
	else
		| –

dt Paying fee?
dd= paymentData.payFee ? 'Yes' : 'No'
if access('superadmin')
	dt Customer ID
	dd: +gcLink(paymentData.customerId, 'customers')
	dt Mandate ID
	dd: +gcLink(paymentData.mandateId, 'mandates')
	dt Subscription ID
	dd: +gcLink(paymentData.subscriptionId, 'subscriptions')
if paymentData.cancelledAt
	dt Cancelled
	dd= moment(paymentData.cancelledAt).format('HH:mm:ss DD/MM/YYYY')
