mixin gcLink(id, type)
	if id
		a(href=`https://manage.gocardless.com/${type}/${id}`)= id
	else
		| –

h4 GoCardless
dl.dl-horizontal
	dt Customer ID
	dd: +gcLink(gcData.customerId, 'customers')
	dt Mandate ID
	dd: +gcLink(gcData.mandateId, 'mandates')
	dt Subscription ID
	dd: +gcLink(gcData.subscriptionId, 'subscriptions')
	dt Amount
	dd
		= member.contributionMonthlyAmount ? '£' + member.contributionMonthlyAmount : '–'
		if gcData.payFee
			|
			| (+ fee)
	dt Period
	dd= member.contributionPeriod || '–'
	if gcData.cancelledAt
		dt Cancelled
		dd= moment(gcData.cancelledAt).format('HH:mm:ss DD/MM/YYYY')
