.page-header
	h3 &nbsp;
ul.nav.nav-pills.nav-stacked
	li( class=( page == 'overview' ? 'active' : '' ) ): a( href='/members/' + member.id ) Overview
	li( class=( page == 'profile' ? 'active' : '' ) ): a( href='/members/' + member.id + '/profile' ) Profile
	li( class=( page == 'contribution' ? 'active' : '' ) ): a( href='/members/' + member.id + '/contribution' ) Contribution
	li( class=( page == 'permissions' ? 'active' : '' ) ): a( href='/members/' + member.id + '/permissions' ) Roles
