h4 Overview
dl.dl-horizontal
	dt Joined
	dd #{ moment( member.joined ).format( 'HH:mm:ss DD/MM/YYYY' ) }
	dt Last seen
	dd #{ member.lastSeen ? moment( member.lastSeen ).format( 'HH:mm:ss DD/MM/YYYY' ) : '–' }
	dt Referral code
	dd: a( href="https://thebristolcable.org/refer/" + member.referralCode ) #{ member.referralCode }
	dt Polls code
	dd= member.pollsCode
