extend /views/notrack

block prepend title
	- title = segment.name

block contents
	.row
		.col-md-12
			+page_header(segment.name)

	.row
		.col-md-8
			h4 Send an email

			form(method='POST').form-horizontal
				+csrf
				.js-reveal
					.form-group
						label.control-label.col-md-3 Type
						.col-md-9
							label.radio-inline
								input(type='radio' name='type' value='one-off' required checked).js-reveal-types
								| One-off
							|
							label.radio-inline
								input(type='radio' name='type' value='ongoing' required).js-reveal-types
								| Ongoing

					.hidden.js-reveal-type(data-type='ongoing')
						.js-reveal
							.form-group
								label.control-label.col-md-3 Send when
								.col-md-9
									.radio
										label
											input(type='radio' name='trigger' value='onJoin' required).js-reveal-types
											| Contact joins segment
									.radio
										label
											input(type='radio' name='trigger' value='onLeave' required).js-reveal-types
											| Contact leaves segment
									p.help-block Ongoing emails are triggered once per day
						
							.hidden.js-reveal-type(data-type='onJoin')
								if segment.memberCount > 0
									.form-group
										.col-md-offset-3.col-md-9
											p.
												There are currently #{segment.memberCount} contacts in this
												segment, do you want to send them the email now?
											.checkbox
												label
													input(type='checkbox' name='sendNow' value='true')
													| Yes, send now

					.row: .col-md-offset-3.col-md-9: h5 Email

					.js-reveal
						.form-group
							label(for='email').control-label.col-md-3 Template
							.col-md-9
								select(name='email' required).form-control.js-reveal-types#email
									option(value='' selected disabled) Select one
									option(value='__new__') -- New email --
										each email in emails
											option(value=email.id)= email.name

						.js-reveal-type(data-type='__new__')
							- hideButton = true
							include /apps/tools/apps/emails/views/partials/email-form

					.form-group
						.col-md-offset-3.col-md-9
							button.btn.btn-success
								span.js-reveal-type(data-type='one-off') Preview
								span.hidden.js-reveal-type(data-type='ongoing') Save
