extend /views/notrack

block contents
	.row
		.col-md-12
			+page_header('Segments')

			table.table
				thead
					tr
						th Name
						th Description
						th Contacts
						th
				tbody
					each segment in segments
						tr
							td(style='white-space: nowrap'): a(href='/members/?segment=' + segment.id)= segment.name
							td(width='100%')= segment.description
							td= segment.contactCount
							td
								a(href='/members/segments/' + segment.id).btn.btn-xs.btn-default
									i.glyphicon.glyphicon-pencil

