extend /views/notrack

block contents
	.row
		.col-md-12
			+page_header('Segments')

			table.table
				thead
					tr
						th Name
						th Description
						th Members
						th
				tbody
					each segment in segments
						tr
							td(width='100%'): a(href='/members/?segment=' + segment.id)= segment.name
							td= segment.description
							td= segment.memberCount
							td
								a(href='/members/segments/' + segment.id).btn.btn-xs.btn-default
									i.glyphicon.glyphicon-cog

