extend /views/notrack

block contents
	.row
		.col-md-12
			+page_header('Segments')

			table.table
				thead
					tr
						th Name
						th Members
				tbody
					each segment in segments
						tr
							td(width='100%'): a(href='/members/segments/' + segment.id)= segment.name
							td 0

