extend /views/notrack

block title
	- title = segment.name

block append css
	link( rel='stylesheet', href='/static/css/query-builder.default.css' )

block append js
	script( src='/static/js/lib/query-builder.standalone.js' )
	script.
		var searchRuleGroup = !{JSON.stringify(segment.ruleGroup)}
	script( src='/static/js/search.js?v=' + git)

block contents
	.row
		.col-md-12
			+page_header(segment.name)

	.row
		.col-md-8
			form(method='POST').form-horizontal
				+csrf
				.form-group
					label.col-md-3.control-label Name
					.col-md-9
						input(type='text' name='name' value=segment.name required).form-control
				.form-group
					label(for='description').control-label.col-md-3 Description
					.col-md-9
						textarea(name='description' required)#intro.form-control= segment.description
							
				.form-group
					.col-md-9.col-md-offset-3
						button(name='action' value='update').btn.btn-success Update

	.row
		.col-md-12
			hr

			h4 Rules

			#builder

			form(method='POST').js-advanced-form
				+csrf
				input(type='hidden' name='query')
				button(name='action' value='update-rules').btn.btn-success Update rules

			hr

			h4 Automations

			.alert.alert-info Coming soon

			hr

	.row
		.col-md-8
			h4 Delete segment

			form(method='POST')
				+csrf
				p
					label.checkbox-inline
						input(type='checkbox' required)
						| This change is irreversible, confirm to proceed
				button(name='action' value='delete').btn.btn-danger.outline Delete
