extends /src/views/base.pug

block prepend title
	- title = 'Polls'

block contents
	.row
		.col-md-12
			+page_header('Polls')

			each poll in polls
				h5
					a(href='/tools/polls/' + poll._id)= poll.question

	.row
		.col-md-8
			h4 Create a new poll
			include partials/poll-form
