extends /src/views/base.pug

block prepend title
	- title = 'Polls'

block contents
	.row
		.col-md-12
			+page_header('Polls')

			each poll in polls
				h4
					a(href='/tools/polls/' + poll._id)= poll.question

	.row
		.col-md-8
			h3 Create a new poll

			form(method='POST').form-horizontal
				+csrf
				.form-group
					label(for='question').control-label.col-md-3 Question
					.col-md-6
						input(type='text' name='question')#question.form-control
				.form-group
					label(for='slug').control-label.col-md-3 Slug
					.col-md-6
						input(type='text' name='slug')#slug.form-control
				.form-group
					.col-md-offset-3.col-md-6
						label.checkbox-inline
							input(type='checkbox' name='closed' value='true')
							| Start closed

				.form-group
					.col-md-6.col-md-offset-3
						button.btn.btn-primary Create poll

