extends /src/views/base.pug

block prepend title
	- title = 'Poll'

block append css
	link(rel='stylesheet' href='https://unpkg.com/formiojs@latest/dist/formio.full.min.css')
	style.
		.formcomponents { position: sticky; top: 1rem }

block append js
	if poll.formSchema !== undefined
		script(src='https://unpkg.com/formiojs@latest/dist/formio.full.min.js')
		script.
			Formio.builder(
				document.getElementById('builder'),
				!{JSON.stringify(poll.formSchema)},
				{template: 'bootstrap3'}
			).then(function (builder) {
				builder.on('change', function() {
					$('.js-poll-form-schema').val(JSON.stringify(builder.schema));
				});
			});

block contents
	.row
		.col-md-12
			+page_header(poll.question)

			dl.dl-horizontal
				dt Status
				dd
					if poll.active
						span.label.label-success Active
					else if poll.closed
						span.label.label-warning Closed
					else if poll.expires
						span.label.label-warning Expired
				dt Created
				dd= moment(poll.date).format('DD/MM/YYYY [at] HH:mm')
				dt Update answers?
				dd= poll.allowUpdate ? 'Yes' : 'No'
				dt URL
				dd: a(href='/polls/' + poll.slug)= '/polls/' + poll.slug

			hr

	.row
		.col-md-8
			h4 Update poll
			include partials/poll-form

	.row
		.col-md-12
			hr

			h4 Edit form

			if poll.formSchema === undefined
				.row
					.col-md-8
						.alert.alert-warning This poll's form cannot be edited
			else
				#builder

				hr

				form(method='POST')
					+csrf
					input(type='hidden' name='formSchema' value=JSON.stringify(poll.formSchema)).js-poll-form-schema
					button(name='action' value='edit-form').btn.btn-primary Save

			hr

	.row
		.col-md-8

			h4 Delete poll

			form(method='POST')
				+csrf
				p
					label.checkbox-inline
						input(type='checkbox' required)
						| This change is irreversible, confirm to proceed
				button(name='action' value='delete').btn.btn-danger.outline Delete
